app-dashboard {
  display: block;
  margin-bottom: 20px;
}
.add-candidate-container {
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .candidate-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  .candidate-table th, .candidate-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  .candidate-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  .add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .add-button:hover {
    background-color: #0056b3;
  }
